---
import { Image } from "astro:assets";
import profilePicture from "../assets/images/profilePicture.png";
---

<section id="section2">
  <div>
    <Image src={profilePicture} alt="Profile picture of Marie Wulff" />
    <article>
      <h4><span>02/</span></h4>
      <h2>about</h2>
      <p>
        On a daily basis, I study Multimedia Design at Copenhagen School of
        Design and Technology. Here in my third semester, I have chosen to
        specialize in<span>frontend</span> design.
      </p>
      <br />

      <p>
        Outside of school, I work for Gastrotools, where I handle customer
        support. When I’m not at school or work, you can find me hanging out
        with friends, training at my local gym, or watching a movie at the
        cinema.
      </p>
      <br />
      <p>
        I would very much like to study backend development, possibly computer
        science, and become a full-stack developer in the future.
      </p>
    </article>
  </div>
</section>

<style>
  div {
    display: grid;
    grid-template-columns: 1fr 1fr;

    article {
      margin-bottom: 1rem;
    }
  }
  img {
    width: 15rem;
    height: auto;
    border-radius: 5%;
    place-self: center;
  }

  @media (max-width: 800px) {
    img {
      order: 2;
    }
  }
  @media (max-width: 600px) {
    div {
      display: flex;
      flex-direction: column;
    }
  }
</style>
