---

---

<section>
  <h4 id="section1"><span>01/</span></h4>
  <h1>
    Hej, mit navn er marie wulff. jeg er en <span>multimedie</span> design studerende
    med en stor interesse for kodning.
  </h1>
</section>

<style>
  h1 {
    text-align: center;
  }
</style>
