---

---

<section id="section4">
  <h4><span>04/</span></h4>
  <h2>skills</h2>
  <div class="lists">
    <ul>
      <h3>video/ <br /> redigering</h3>
      <li>Adobe Premiere Pro</li>
    </ul>
    <ul>
      <h3>Programmering/ <br /> Scripting sprog</h3>
      <li>html</li>
      <li>css</li>
      <li>javascript</li>
      <li>Astro frameworks</li>
      <li>React (In Progress)</li>
      <li>github</li>
    </ul>
    <ul>
      <h3>Grafisk/ <br /> web software</h3>
      <li>Adobe Illustrator</li>
      <li>Adobe Photoshop</li>
      <li>Adobe Lightroom</li>
      <li>Figma</li>
    </ul>
  </div>
</section>

<style>
  section {
    text-align: right;
  }

  .lists {
    display: flex;
    place-content: end;
    gap: var(--space-l);
    flex-wrap: wrap;

    ul {
      list-style: none;
      text-align: right;
      display: flex;
      flex-direction: column;
      place-items: end;
      gap: 1rem;
    }
    li {
      background: var(--color-card-bg);
      padding: 1rem;
      width: fit-content;
      border-radius: 2rem;
      text-align: right;
      text-transform: uppercase;
    }
  }
</style>
