---

---

<article>
  <button><a href="https://mariewulff.netlify.app">Danish version</a></button>
</article>
<section>
  <h4 id="section1"><span>01/</span></h4>
  <h1>
    Hi, my name is marie wulff. i'm a <span>multimedia</span> design student with
    a passion for coding.
  </h1>
</section>

<style>
  h1 {
    text-align: center;
  }
  article {
    display: flex;
    flex-wrap: wrap;
    place-content: end;
    margin-top: 1rem;
    button a {
      text-decoration: none;
      background: var(--color-card-bg);
      padding: 0.7rem;
      width: fit-content;
      border-radius: 2rem;
      text-align: right;
    }
  }
</style>
