---
import { Image } from "astro:assets";
import fb from "../assets/images/fb.svg";
import ig from "../assets/images/ig.svg";
---

<section id="section5" class="flow-space">
  <article>
    <h4><span>05/</span></h4>
    <h2>contact</h2>
  </article>

  <article>
    <h3>contact info</h3>
    <p>mariewulff01@gmail.com</p>
    <p>+45 52651659</p>
    <a
      href="https://www.linkedin.com/in/marie-wulff/"
      target="_blank"
      rel="noopener noreferrer"
    >
      CV: www.linkedin.com/in/marie-wulff
    </a>
  </article>
</section>

<style>
  section {
    > * + * {
      margin-bottom: 3rem;
    }
  }

  article {
    a {
      text-decoration: none;
    }
  }
</style>
